<launch>
    <arg name="rate" default="1.0" />
    <arg name="rviz" default="true" />

    <arg name="tf_prefix" value="" />

    <param name="/use_sim_time" value="true" />

    <rosparam command="load" file="$(dirname)/../data/absolem-real.params" />
    <node name="play" pkg="rosbag" type="play" args="--clock --loop --rate $(arg rate) '$(dirname)/../data/absolem-real.bag'" required="true">
        <remap from="scan" to="front_scan" />
    </node>

    <node name="fake_odom" pkg="tf2_ros" type="static_transform_publisher" args="-4 0 0 0 0 0 world odom" />
    <node name="rviz" pkg="rviz" type="rviz" if="$(arg rviz)" args="-d $(dirname)/../config/rviz.rviz -f world" />

    <node name="laser_filter" pkg="sensor_filters" type="laserscan_filter_chain" required="true">
        <rosparam command="load" file="$(dirname)/../config/absolem_real_filters.yaml" subst_value="true" />
        <remap from="~input" to="front_scan" />
        <remap from="~output" to="front_scan_filtered" />
    </node>
</launch>