<launch>
    <arg name="robot" default="marv" doc="marv,spot,husky,lily,absolem,marmotte,x500" />
    <arg name="robot_name" default="X1" />
    <arg name="software_rendering" default="true" doc="Set to false if your GPU can do OpenGL 3.3" />
    <arg name="gui" default="true" />
    <arg name="real_time_factor" default="1.0" />

    <arg name="robot_path" value="$(find ctu_cras_norlab_marv_sensor_config_1)" if="$(eval robot == 'marv')" />
    <arg name="robot_path" value="$(find ctu_cras_norlab_spot_sensor_config_1)" if="$(eval robot == 'spot')" />
    <arg name="robot_path" value="$(find ctu_cras_norlab_husky_sensor_config_1)" if="$(eval robot == 'husky')" />
    <arg name="robot_path" value="$(find ctu_cras_norlab_lily_sensor_config_1)" if="$(eval robot == 'lily')" />
    <arg name="robot_path" value="$(find ctu_cras_norlab_absolem_sensor_config_1)" if="$(eval robot == 'absolem')" />
    <arg name="robot_path" value="$(find ctu_cras_norlab_marmotte_sensor_config_1)" if="$(eval robot == 'marmotte')" />
    <arg name="robot_path" value="$(find ctu_cras_norlab_x500_sensor_config_1)" if="$(eval robot == 'x500')" />

    <env name="LANG" value="C" />
    <env name="LC_ALL" value="C" />

    <node name="server" pkg="rosdevday_cloud_filtering" type="xvfb-run" args="-a ign launch -v4 $(arg robot_path)/launch/example.ign robotName:=$(arg robot_name) headless:=true ros:=true" if="$(arg software_rendering)" />
    <node name="server" pkg="rosdevday_cloud_filtering" type="ign" args="launch -v4 $(arg robot_path)/launch/example.ign robotName:=$(arg robot_name) headless:=true ros:=true" unless="$(arg software_rendering)" />

    <node name="gui" pkg="rosdevday_cloud_filtering" type="gui" if="$(arg gui)" />

    <include file="$(dirname)/$(arg robot)_gazebo.launch" pass_all_args="true" />

    <node name="set_rtf" pkg="rosdevday_cloud_filtering" type="ign" args="service -s /world/example/set_physics --reqtype ignition.msgs.Physics --reptype ignition.msgs.Boolean --timeout 100000 --req 'real_time_factor: $(arg real_time_factor)'" />
</launch>