<launch>
    <arg name="robot" default="X1" />
    <arg name="rate" default="1.0" />
    <arg name="rviz" default="true" />
    <arg name="gazebo" default="true" doc="If false, the filter will run on a bag file" />
    <arg name="gazebo_gui" default="true" />
    <arg name="software_rendering" default="true" doc="Set to false if your GPU can do OpenGL 3.3" />
    <arg name="fake_teleop" default="false" doc="If true and gazebo==true, this will replay some teleoperation commands from a bag file." />
    <arg name="data_dir" default="$(dirname)/../data" />

    <arg name="tf_prefix" value="$(arg robot)/" if="$(eval robot != '')" />
    <arg name="tf_prefix" value="" if="$(eval robot == '')" />

    <include file="$(dirname)/common.launch" pass_all_args="true">
        <arg name="robot_name" value="$(arg robot)" />
        <arg name="robot" value="spot" />
    </include>

    <group ns="$(arg robot)">
        <rosparam command="load" file="$(dirname)/../config/spot_filters.yaml" subst_value="true" />

        <node name="laser_filter" pkg="sensor_filters" type="pointcloud2_filter_chain" required="true">
            <remap from="~input" to="points" />
            <remap from="~output" to="points_filtered" />
        </node>

        <node name="tof_back_filter" pkg="sensor_filters" type="pointcloud2_filter_chain" required="true">
            <remap from="~input" to="tof_back/depth/points" />
            <remap from="~output" to="tof_back/depth/points_filtered" />
        </node>
        <node name="tof_left_filter" pkg="sensor_filters" type="pointcloud2_filter_chain" required="true">
            <remap from="~input" to="tof_left/depth/points" />
            <remap from="~output" to="tof_left/depth/points_filtered" />
        </node>
        <node name="tof_right_filter" pkg="sensor_filters" type="pointcloud2_filter_chain" required="true">
            <remap from="~input" to="tof_right/depth/points" />
            <remap from="~output" to="tof_right/depth/points_filtered" />
        </node>
        <node name="tof_frontleft_filter" pkg="sensor_filters" type="pointcloud2_filter_chain" required="true">
            <remap from="~input" to="tof_frontleft/depth/points" />
            <remap from="~output" to="tof_frontleft/depth/points_filtered" />
        </node>
        <node name="tof_frontright_filter" pkg="sensor_filters" type="pointcloud2_filter_chain" required="true">
            <remap from="~input" to="tof_frontright/depth/points" />
            <remap from="~output" to="tof_frontright/depth/points_filtered" />
        </node>
    </group>
</launch>